<div class="custom-select" [class.custom-select--open]="isOpen()">
  <label class="custom-select__label" [id]="labelId()" [for]="inputId()">
    {{ label() }}
  </label>
  <div class="custom-select__control">
    <button
      #trigger
      type="button"
      class="custom-select__trigger"
      role="combobox"
      aria-haspopup="listbox"
      [id]="inputId()"
      [attr.aria-labelledby]="labelId()"
      [attr.aria-expanded]="isOpen()"
      [attr.aria-controls]="listboxId()"
      [attr.aria-activedescendant]="activeOptionId()"
      [disabled]="disabled()"
      (click)="toggle()"
      (keydown)="onKeydown($event)"
      (focusout)="onFocusOut($event)"
    >
      <span class="custom-select__value">{{ selectedLabel() }}</span>
      <img
        class="custom-select__icon"
        src="assets/icons/ic_dropdown.svg"
        width="16"
        height="16"
        alt=""
        aria-hidden="true"
      />
    </button>

    @if (isOpen()) {
      <!-- mousedown is cancelled so focus stays on the trigger. -->
      <ul
        #listbox
        class="custom-select__listbox"
        [class.custom-select__listbox--up]="opensUpward()"
        [style.max-height.px]="listboxMaxHeight"
        role="listbox"
        tabindex="-1"
        [id]="listboxId()"
        [attr.aria-labelledby]="labelId()"
        (mousedown)="$event.preventDefault()"
        (click)="onListboxClick($event)"
        (mousemove)="onListboxPointerMove($event)"
        (keydown)="onKeydown($event)"
      >
        @for (option of options(); track option.value; let index = $index) {
          <li
            class="custom-select__option"
            role="option"
            [id]="optionId(index)"
            [attr.aria-selected]="option.value === value()"
            [class.custom-select__option--active]="index === activeIndex()"
            [attr.data-index]="index"
          >
            <span>{{ option.label }}</span>
            @if (option.value === value()) {
              <img
                src="assets/icons/ic_check.svg"
                width="16"
                height="16"
                alt=""
                aria-hidden="true"
              />
            }
          </li>
        }
      </ul>
    }
  </div>
</div>
